@model IEnumerable<JediWebSiteApplication.Models.MatchModel>

@{
    ViewBag.Title = "Création";
    ViewBag.SubTitle = "";
}

<table class="table">    
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Jedi1.Nom <strong>-</strong> @item.Jedi2.Nom
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>