@model IEnumerable<JediWebSiteApplication.Models.MatchModel>

@{
    ViewBag.Title = "Création";
    ViewBag.SubTitle = "";
}

<table class="table">    
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Description
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Match", null, null, "content", new { id = item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Match", null, null, "content", new { id = item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Match", null, null, "content", new { id = item.ID }, null)
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>