@model JediWebSiteApplication.Models.JediModel

@{
    ViewBag.Title = "Détails du jedi";
}

@section Content {
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSith)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", null, null, null, "content", new { id = Model.ID }, null) |
    @Html.ActionLink("Revenir à la liste", "Index", null, null, null, "content", null, null)
</p>
}