@model JediWebSiteApplication.Models.JediModel

@{
    ViewBag.Title = "Détails";
    ViewBag.SubTitle = "";
}

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSith)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Revenir à la liste", "Index")
</p>
