@model IEnumerable<JediWebSiteApplication.Models.JediModel>

@{
    ViewBag.Title = "Liste des Jedis";
    ViewBag.SubTitle = "Ils ont tous leurs mystères !";
}

<!-- Begin rotate box-2 -->
<div class="rotate-box-2-wrapper">
    <div class="container">
        <div class="row rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSith)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSith)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.ActionLink("Éditer", "Edit", null, null, null, "content", new { id = item.ID }, null) |
                            @Html.ActionLink("Détails", "Details", null, null, null, "content", new { id = item.ID }, null) |
                            @Html.ActionLink("Supprimer", "Delete", null, null, null, "content", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
                
            </table>

            <p>
                <a href="@Url.Action("Create", "Jedi", null)#content" role="button" class="btn btn-default">
                    <i class="fa fa-plus"></i> Ajouter un Jedi
                </a>
            </p>
        </div>
    </div> <!-- /.container -->
</div><!-- End rotate-box-2 -->
